/* Opulence — IvyPresto Display setup
   Put your legally licensed IvyPresto Display .woff2 files in public/fonts/
*/

@font-face {
  font-family: "IvyPresto Display";
  src: url("/fonts/IvyPrestoDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IvyPresto Display";
  src: url("/fonts/IvyPrestoDisplay-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-display: "IvyPresto Display", serif;
}

.display-font,
h1,
h2,
h3,
h4 {
  font-family: var(--font-display);
}
